html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:root {
    --rvv: calc(1rem + 1vw + 1vh);
}

html,
body {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

header {
    position: relative;
    display: grid;
    grid-template-columns: 1fr calc(var(--rvv)) 1fr;
    grid-column-gap: calc(0.3*var(--rvv));
    grid-template-rows: calc(2*var(--rvv));
    grid-template-areas:
        "jordan logo walters";
}

.jordan,
.walters {
    letter-spacing: -0.2px;
}

.jordan {
    margin-left: calc(var(--rvv));
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.logo {
    max-height: 40%;
    padding: calc(0.1*var(--rvv));
    border-radius: 50%;
}

.walters {
    margin-right: calc(var(--rvv));
    display: flex;
    align-items: center;
}

nav {
    border: 1px solid blue;
    z-index: 2;
    position: absolute;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.nav-items {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-item {
    height: calc(0.7*var(--rvv));
    text-align: center;
    margin-bottom: 10%;
    cursor: pointer;
}

.close {
    margin: calc(0.3*var(--rvv)) 0 0;
    height: calc(0.7*var(--rvv));
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.close-icon {
    height: 100%;
}

.nav-logo {
    height: calc(0.6*var(--rvv));
}


/* desktop effects: */
@media screen and (min-width: 750px) {
    header span {
        transition: margin 20ms ease-in-out;
    }
    header .logo-container {
        transition: transform 90ms ease-in-out;
    }
    header:hover .jordan span {
        margin: 0 8%;
    }
    header:hover .logo-container {
        transform: scale(1.3) rotate(180deg);
    }
    header:hover .walters span {
        margin: 0 7%;
    }

    .nav-item:hover {
        font-style: italic;
    }

    .close {
        transition: transform 90ms ease-in-out;
    }
    .close:hover {
        transform: scale(1.5);
    }

    nav .logo-container {
        transition: transform 0.8s ease-in-out;
    }
    nav .logo-container:hover {
        transform: rotate(700deg);
    }

    nav .nav-item {
        transition: margin 0.3s ease-in-out;
    }
    nav:hover .nav-item {
        margin-bottom: 80%;
    }
    
}